<div class="container d-flex flex-column">
  <div class="row justify-content-center">
    <div class="col-4 ">
      <div class="add-citation d-flex justify-content-end">
        <%= link_to "Ajouter une citation", new_citation_path %>
      </div>
      <div class="random-citation">
        <%= link_to "Une citation au hasard", random_citation_path%>
      </div>
      <h1>Citations</h1>

        <% @citations.each do |citation| %>
          <%= link_to citation_path(citation) do %>
            <div class="citations-card">
              <p class="text-truncate"><%= citation.contenu %></p>
              <%= citation.auteur %>
              </div>
            <% end %>
        <% end %>
    </div>
  </div>
</div>
