<div class="container">
    <div class="citation-show">
      <p class="citation-contenu-show">"<%= @citation.contenu %>"</p>
      <p class="mt-5"><%= @citation.auteur %></p>
    </div>
    <div class="links-show d-flex justify-content-end">
      <%= link_to citations_path do%>
      <i class="fa-solid fa-arrow-left me-4"></i>
      <% end %>
      <%= link_to edit_citation_path(@citation) do %>
      <i class="fa-solid fa-pen-to-square me-4"></i>
      <% end %>
      <%= link_to citation_path(@citation), data: { turbo_method: :delete, turbo_confirm: "Are you sure" } do  %>
      <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  </div>
